/* Write your CSS here */
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trigger-button {
  background-color: transparent;
  border: 1px #ffff;
}
.player-container {
  background-color: #ffffff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 65vh;
  padding: 30px;
}
.close-button {
  font-size: 10px;
  align-self: flex-end;
  margin-bottom: 15px;
}
